Flask~=2.3.1
flask_cors~=3.0.10
pytest~=7.3.1
gunicorn~=20.1.0
pydantic~=1.10.7
boto3~=1.26.133
opencv-python~=4.7.0.72 
numpy~=1.24.3
pytest-mock~=3.10.0
matplotlib~=3.7.1
requests~=2.31.0
pytest-cov~=4.1.0
scikit-image~=0.21.0
opencv-contrib-python~=4.7.0.72