version: '3.7'

services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/workspace:cached
    working_dir: /workspace/
    restart: on-failure
    depends_on:
      - backend
    ports:
      - 80:3000
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/:/workspace:cached
    restart: on-failure
    ports: 
      - 5000:5000