version: '3.7'

services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    working_dir: /workdir/
    restart: on-failure
    depends_on:
      - backend
    ports:
      - 80:3000
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    restart: on-failure
    working_dir: /workdir/
    ports: 
      - 5000:5000